de_nas/tabular_benchmarks
de_nas/examples/scripts/
de_nas/examples/results/
de_nas/examples/plots/
de_nas/examples/backup

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

de_nas/examples/slurm*.out
*/slurm*.out
*/*/slurm*.out

slurm*.out
*.png
*.sh
.idea/
